body {
  margin: 0px;
  font-family: "Roboto", Arial, sans-seriff;
  background: #fafafa;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}

header {
  display: flex;
  place-content: space-between;
  padding: 10px 140px;
  align-items: center;
  background-color: #fff;
}

.headermenu {
  display: flex;
  flex-wrap: wrap;
  gap: 5.31rem;
  justify-content: center;
}

.headermenu a {
  text-decoration: none;
  color: #fff;
  background-color: #f1c513;
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 0.625rem 0.9375rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.9375rem;
  display: block;
}

.introducao {
  background-color: #fff;
  margin: 5rem 15rem;
  text-align: center;
  border-radius: 0.625rem;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}
.introducao h1 {
  text-align: center;
  padding-top: 2rem;
  color: #702826;
  position: relative;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.introducao h1::after {
  content: "";
  display: flex;
  position: absolute;
  background-color: #f1c513;
  width: 25rem;
  height: 0.25rem;
  left: 54.5vh;
  bottom: -0.88rem;
}
.introducao p {
  text-align: center;
  padding: 6rem 5rem 7rem;
  color: #000;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.projetos {
  background-color: #fff;
}
.projetos h1 {
  color: #702826;
  text-align: center;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 1.75rem;
  position: relative;
}
.projetos h1::after {
  content: "";
  display: flex;
  position: absolute;
  background-color: #f1c513;
  width: 6.25rem;
  height: 0.25rem;
  left: 95.6vh;
  bottom: -0.88rem;
}

.projetostudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: end;
  margin-top: 8rem;
  margin-bottom: 8rem;
  padding-bottom: 12rem;
}
.projetostudo img {
  height: 410px;
  width: 680px;
}

.projetostudo p {
  color: #000;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 25rem;
}
.projetostudo h2 {
  color: #f1c513;
  text-align: center;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 2.5rem;
}
.projetos-lista {
  height: 410px;
  overflow-y: scroll;
}
.projetos-lista::-webkit-scrollbar {
  width: 18px;
}
.projetos-lista::-webkit-scrollbar-thumb {
  background: #f1c513;
  border-left: 4px solid #fff;
  border-right: 4px solid #fff;
}
.projetos-lista li {
  cursor: pointer;
}
.projetos-descricao {
  justify-self: start;
  margin-left: 10rem;
}
.js .js-tabcontent section {
  display: none;
}

.js-tabcontent section.ativo {
  display: block !important;
  animation: show 0.5s forwards;
}
@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.objetivos {
  background-color: #fff;
  margin: 5rem 15rem;
  text-align: center;
  border-radius: 0.625rem;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}
.objetivos h1 {
  color: #702826;
  text-align: center;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 1.75rem;
}
.objetivos p {
  color: #000;
  text-align: center;
  padding: 5rem 9.2rem;
  margin-right: 9rem;
  margin-left: 9rem;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  position: relative;
}
.objetivos p::before {
  content: "";
  display: flex;
  position: absolute;
  background-color: #f1c513;
  width: 10rem;
  height: 0.25rem;
  left: 52vh;
  top: 0rem;
}

footer {
  background: #702826;
  padding: 2rem;
}
footer p {
  text-align: center;
  color: #fff;
  font-family: "Roboto Slab", "Roboto";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
