body {
  margin: 0px;
  font-family: "Roboto", Arial, sans-seriff;
  background: #fafafa;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}

header {
  display: flex;
  place-content: space-between;
  padding: 10px 140px;
  align-items: center;
  background-color: #fff;
}

.headermenu {
  display: flex;
  flex-wrap: wrap;
  gap: 5.31rem;
  justify-content: center;
}

.headermenu a {
  text-decoration: none;
  color: #fff;
  background-color: #f1c513;
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 0.625rem 0.9375rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.9375rem;
  display: block;
}

.introducao {
  background-color: #fff;
  margin: 5rem 10rem;
  text-align: center;
}
.introducao h1 {
  text-align: center;
  padding-top: 2rem;
  color: #702826;

  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.introducao p {
  text-align: center;
  padding: 6rem 5rem 7rem;
  color: #000;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.projetostudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: end;
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.projetostudo img {
  height: 410px;
  width: 680px;
}

.projetostudo p {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 1.5rem */
  width: 35rem;
}
.projetostudo h2 {
  color: #fff;
  text-align: center;
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 100%; /* 4rem */
  margin-bottom: 2.5rem;
}
.projetos-lista {
  height: 410px;
  overflow-y: scroll;
}
.projetos-lista::-webkit-scrollbar {
  width: 18px;
}
.projetos-lista::-webkit-scrollbar-thumb {
  background: #8c1827;
  border-left: 4px solid #00321c;
  border-right: 4px solid #00321c;
}
.projetos-lista li {
  cursor: pointer;
}
.projetos-descricao {
  justify-self: start;
  margin-left: 3rem;
}
